@model CorporationVM
@{ Layout = null; }


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Tables</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    @inject Microsoft.AspNetCore.Mvc.IUrlHelper Url
    <!-- Vendor CSS -->
    <link href="@Url.Content("~/vendor/animsition/animsition.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/vendor/wow/animate.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/vendor/css-hamburgers/hamburgers.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/vendor/slick/slick.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/vendor/select2/select2.min.css")" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap" style="float:right;">
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">Orhan Kaya</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">Orhan Kaya</a>
                                                </h5>
                                                <span class="email">orhankaya@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Hesap
                                                </a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>Ayarlar
                                                </a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a asp-area="Identity" asp-page="/Account/Logout">
                                                <i class="zmdi zmdi-power"></i>Çıkış Yap
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/Logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" asp-area="MasterMind" asp-controller="Admin" asp-action="Employee">
                                <i class="fa fa-users"></i>Elemanları Görüntüle
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" asp-area="Identity" asp-page="/Account/CustomRegister">
                                <i class="fa fa-user"></i>Eleman İşlemleri
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" asp-area="MasterMind" asp-controller="Client" asp-action="ClientIndex">
                                <i class="fas fa-calendar-alt"></i>Satışları Görüntüle
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" asp-area="MasterMind" asp-controller="Client" asp-action="Upsert">
                                <i class="fa fa-eur"></i>Satış İşlemleri
                            </a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" asp-area="MasterMind" asp-controller="Corporation" asp-action="Index">
                                <i class="fa fa-sitemap"></i>Takımlar
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" asp-area="MasterMind" asp-controller="Corporation" asp-action="CreateCorporation">
                                <i class="fa fa-plus"></i>Takım Oluştur
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap" style="float:right;">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">@Model.UserName</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">@Model.UserName</a>
                                                    </h5>
                                                    <span class="email">@Model.Email</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a>
                                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-area="ClientArea" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "ClientArea" })" method="post">
                                                        <button type="submit" class="nav-link btn btn-link text-dark"><i class="zmdi zmdi-power"></i>Çıkış Yap</button>
                                                    </form>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <!--ADD NEW EMPLOYEE-->
                        <!--ADD NEW EMPLOYEE-->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Takım Düzenle</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form method="post" class="form-horizontal">
                                        @*<div asp-validation-summary=ModelOnly*></div>*@
                                        <div class="row form-group">
                                            <input asp-for="Corporation.CorporationID" type="hidden" />
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">İsim</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input asp-for="Corporation.Name" id="text-input" name="Corporation.Name" placeholder="Text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">Şehir</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input asp-for="Corporation.City" id="text-input" name="Corporation.City" placeholder="Şehir" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="textarea-input" class=" form-control-label">Adres</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <textarea asp-for="Corporation.Adress" name="Corporation.Adress" id="textarea-input" rows="9" placeholder="Adres" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Yeni Takım Ekle
                                            </button>
                                            <a type="reset" class="btn btn-danger btn-sm" asp-controller="Corporation" asp-action="Index">
                                                <i class="fa fa-ban"></i> İptal
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jquery JS-->
        <script src="~/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/vendor/slick/slick.min.js"></script>
        <script src="~/vendor/wow/wow.min.js"></script>
        <script src="~/vendor/animsition/animsition.min.js"></script>
        <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/vendor/counter-up/jquery.counterup.min.js"></script>
        <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/vendor/select2/select2.min.js"></script>

        <!-- Main JS-->
        <script src="~/js/main.js"></script>

</body>

</html>
<!-- end document-->
